.index-header-gradation-img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    180deg,
    white 0%,
    white 59px,
    rgba(255, 255, 255, 0) 100%
  );
}

.index-header-main-area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  animation: 1.5s ease-in-out 0s 1 normal forwards running animation-dlgi;
}

.index-header-flex-sub-01 {
  margin-top: 270px;
}

.index-header-main-img {
  width: 170px;
  margin-bottom: 30px;
}

.dlgi-logo {
  max-width: 80px;
}

.dlgi-logo.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}

.arrow-footer {
  background: none;
  border: 0px;
  padding: 0px;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #000000;
}

.section-text-area {
  padding: 200px 0;
  text-align: center;
}

.section-text {
  display: inline-block;
  font-size: 2.225em;
  font-weight: 700;
}

.section-title-area {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
  animation: 0.5s ease-in-out 0s 1 normal forwards running animation-dlgi;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.section-sub-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
  white-space: pre-wrap;
}

.section-desc {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  position: absolute;
  right: 30px;
  bottom: 0px;
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
  animation: 0.5s ease-in-out 1.5s 1 normal forwards running animation-dlgi;
}

.section-right-img-area {
  width: 600px;
  height: 936px;
  position: relative;
  top: -125px;
  right: -640px;
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
  animation: 0.5s ease-in-out 0.5s 1 normal forwards running animation-dlgi;
}

.section-left-img-area {
  width: 600px;
  height: 936px;
  position: relative;
  top: -900px;
  left: 0px;
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
  animation: 0.5s ease-in-out 1s 1 normal forwards running animation-dlgi;
}

/* add keyfram */
@keyframes animation-dlgi {
  0% {
    opacity: 0;
    transform: translate3d(0px, 80px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media screen and (max-width: 991px) {
  .section-navbars .navbar-collapse {
    display: none !important;
  }
}

.height-100 {
  height: 100%;
}

.sec02-contents-area {
  position: relative;
  height: 1000px;
}

.sec02-img {
  max-width: 100%;
  border-radius: 30px;
  width: 500px;
}

.sec03-sub-title {
  font-size: 23px;
  font-weight: 600;
  color: rgb(51, 61, 75);
}
